<launch>
  <rosparam param="sim">false</rosparam>
  <rosparam param="map">true</rosparam>
  <rosparam param="use_tf">True</rosparam>
  <rosparam param="rviz">true</rosparam>

  <node pkg="asl_turtlebot" type="visualizer.py" name="whatsgoinon"/>
  
  <node pkg="asl_turtlebot" type="supervisor.py" name="super_trooper" output="screen"/>

  <node pkg="asl_turtlebot" type="detector_viz.py" name="detector_viz"/>

  <node pkg="asl_turtlebot" type="obj_loc_broadcaster.py" name="broadcaster"/>

  <node pkg="asl_turtlebot" type="pose_controller.py" name="pose_controller" output="screen"/>
  
  <node pkg="asl_turtlebot" type="navigator.py" name="navy_mcnav_face" output="screen"/>

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find asl_turtlebot)/rviz/project_sim.rviz"/>
</launch>
